*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	font-size: 1.6rem;
	background-color: rgb(34, 34, 34);
}

input {
	padding: 2rem;
	border: none;
	background-color: rgb(255, 255, 255);
	border: 3px;
	outline: none;
}

textarea {
	border: none;
	background-color: rgb(255, 255, 255);
	min-height: 20rem;
	outline: none;
	padding: 2rem;
}

form {
	background-color: rgb(247, 247, 247);
	padding: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-width: 50rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

form > * {
	margin-bottom: 1rem;
	width: 100%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

button {
	padding: 2rem;
	border: none;
	background-color: rgb(233, 233, 233);
	cursor: pointer;
	transition: all 0.3s;
	outline: none;
}
button:hover {
	transform: translateY(-10%);
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
button:active {
	transform: translateY(0);
	box-shadow: none;
}

.form-group > label {
	margin-bottom: 1rem;
	font-size: 1.3rem;
	color: rgb(71, 71, 71);
}

.form-group {
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
}
